@import 'colors';


*{ box-sizing: border-box; }

html{
	font-size: 62.5%;
	font-family: 'Open Sans', sans-serif;
}

body{
	margin: 0;
	font-size: 1.6rem;
	line-height: 1.75;
	background-color: $white;
	overflow-x: hidden;
}

h1, h2, h3{ line-height: 1.45; }

h1{
	margin-top: 10px;
	margin-bottom: 0;
	font-size: 6rem;
	font-weight: 400;
}

h2{
	margin-top: 0;
	font-size: 3.2rem;
	font-weight: 300;
}

h3{
	font-size: 2.5rem;
	font-weight: 300;
}

a{ color: inherit; }

input{ border-radius: 0; }

pre{
	text-align: center;
	font-size: 1.8rem;
}
