<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
	<meta charset="utf-8">
	<meta name=viewport content="width=device-width, initial-scale=1">
	<title>Corail - About</title>

	<base href="<%= htmlWebpackPlugin.options.baseUrl %>">

	<meta property="og:title" content="Corail">
	<meta property="og:description" content="Collaborative design web application">
	<meta property="og:url" content="https://corail.gitlab.io/">
	<meta property="og:image" content="https://corail.gitlab.io/static/icons/social.jpg">

	<link rel="icon" href="static/icons/favicon.png">
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800">
</head>
<body>
	<div id="application"></div>
</body>
</html>
