<template>
	<section class="about">
		<h2>About the project</h2>

		<p>Corail was created as a group project at <a href="//en.isep.fr" target="__blank" title="Institut Supérieur d'Électronique de Paris">ISEP</a> in collaboration with <a href="//www.thalesgroup.com/en" target="__blank">Thales Services SAS</a>. We had to write <a href="/static/pdf/specifications.pdf" target="__blank" title="The French PDF version">the specifications</a> and build a design web application where designers could create their prototypes and get feedbacks from their clients in an easy way. The project ran over 3 months and ended up with an oral defense.</p>

		<p>We were free to use whatever front-end technologies we wanted, so we used <a href="//angularjs.org" target="__blank" title="A JavaScript MVW framework">AngularJS</a>, <a href="//gulpjs.com" target="__blank" title="The streaming build system">Gulp</a> and our homemade <a href="//sass-lang.com" target="__blank" title="CSS with superpowers">SASS</a> stylesheet. Regarding the back-end, we had to build a RESTful API in Java. Therefore we chose <a href="//jersey.java.net" target="__blank" title="RESTful Web Services in Java">Jersey</a> coupled with a <a href="//mariadb.org" target="__blank" title="Open source MySQL-like DBMS">MariaDB</a> database.</p>

		<p>As we left it, the application is working. However, some parts are missing, such as the authentication system. The prototype creation module also lacks intuitiveness. The source code is available on <a href="//gitlab.com/corail" target="__blank">GitLab</a> if you want to look out it.</p>

		<p>Hoping one day that we could resume the project.</p>

		<div class="avatars">
			<div class="avatar">
				<a href="//fr.linkedin.com/in/alexisfontaine">
					<img src="~assets/images/avatar/alexis.jpg" alt="Alexis Fontaine" class="avatar__image">
				</a>
				<div class="avatar__name">Alexis Fontaine</div>
				<div class="avatar__post">Engineer Student</div>
			</div>

			<div class="avatar">
				<a href="//fr.linkedin.com/in/roxane-macé-301702a3">
					<img src="~assets/images/avatar/roxane.jpg" alt="Roxane Macé" class="avatar__image">
				</a>
				<div class="avatar__name">Roxane Macé</div>
				<div class="avatar__post">Engineer Student</div>
			</div>
		</div>
	</section>
</template>

<script>

export default {
	name: 'about'
}

</script>

<style lang="scss">

@import 'colors';


.about{
	padding: 60px 10%;
	font-weight: 300;
}

.avatars{
	display: flex;
	justify-content: space-between;
	max-width: 600px;
	margin-top: 40px;
	margin-right: auto;
	margin-left: auto;
}
.avatar__image{
	width: 200px; height: 200px;
	border-radius: 50%;
}
.avatar__name{
	font-size: 18px;
	font-weight: 400;
	text-align: center;
}
.avatar__post{
	text-align: center;
	font-style: italic;
}

</style>
