<template>
	<div>
		<jumbotron></jumbotron>
		<description></description>

		<section class="section section--projects section--dark">
			<div>
				<h2>Manage all your projects in one place</h2>
				<p>Gather all your projects on the same application and keep an overall view of their progression using status tags.</p>
			</div>
			<div class="browser screenshot screenshot">
				<div class="browser__content">
					<img src="~assets/images/screens/projects.png" alt="Projects">
				</div>
			</div>
		</section>

		<section class="section section--create section--right">
			<div class="browser screenshot">
				<div id="create" class="browser__content">
					<img src="~assets/images/screens/create1.png" alt="Create and edit your prototypes 1">
					<img src="~assets/images/screens/create2.png" alt="Create and edit your prototypes 2">
					<img src="~assets/images/screens/create3.png" alt="Create and edit your prototypes 3">
				</div>
			</div>
			<div>
				<h2>A powerful tool to design your prototypes</h2>
				<p>Create prototypes and structure them in your own way.<br>Add section, title, paragraph... and even icons (using the popular <a href="//fontawesome.io/icons" target="__blank">Font Awesome</a>)!<br>All in the detail. Use our toolbox to choose the perfect color or adjust the shadow of your elements.</p>
			</div>
		</section>

		<section class="section section--versions section--dark">
			<div>
				<h2>Keep track of all changes in your prototype</h2>
				<p>Want to keep a history of the work you've done? Look at the timeline of every version of a prototype and travel through time.</p>
			</div>
			<div class="browser screenshot screenshot">
				<div id="versions" class="browser__content">
					<img src="~assets/images/screens/version1.png" alt="Versions">
					<img src="~assets/images/screens/version2.png" alt="Versions">
					<img src="~assets/images/screens/version3.png" alt="Versions">
					<img src="~assets/images/screens/version4.png" alt="Versions">
				</div>
			</div>
		</section>

		<section class="section section--right section--comments">
			<div class="browser screenshot screenshot">
				<div class="browser__content">
					<img src="~assets/images/screens/comments.png" alt="Comments">
				</div>
			</div>
			<div>
				<h2>Get feedbacks on your work</h2>
				<p>Team members and clients can see what you do and comment directly any version of your prototype.</p>
			</div>
		</section>

		<section class="section section--workflow section--dark">
			<div>
				<h2>Manage your project's workflow</h2>
				<p>Keep an eye on what still needs to be done for a given project and update a prototype's status with a simple drag and drop gesture.</p>
			</div>
			<div class="screenshot screenshot">
				<div class="workflow__images">
					<img src="~assets/images/screens/workflow1.png" alt="Waiting prototypes" title="Waiting prototypes">
					<img src="~assets/images/screens/workflow2.png" alt="Ongoing prototypes" title="Ongoing prototypes">
					<img src="~assets/images/screens/workflow3.png" alt="Reviewed prototypes" title="Reviewed prototypes">
				</div>
			</div>
		</section>

		<section class="section section--right section--export">
			<div class="browser screenshot screenshot">
				<div class="browser__content">
					<img src="~assets/images/screens/export.png" alt="Export your prototype">
				</div>
			</div>
			<div>
				<h2>Share your prototypes</h2>
				<p>You can export your prototype either as a PDF or as an image and send them to anyone.</p>
			</div>
		</section>

		<installation></installation>
		<about></about>
	</div>
</template>

<script>

import Jumbotron from './Jumbotron'
import Description from './Description'
import Installation from './Installation'
import About from './About'


export default {
	name: 'application',
	components: {
		jumbotron:		Jumbotron,
		description:	Description,
		installation:	Installation,
		about:			About
	},
	mounted () {
		const elements = [
			document.getElementById('create').children,
			document.getElementById('versions').children
		]

		const { length }	= elements
		const actives		= new Array(length)
		const counts		= new Uint8Array(length)

		const activate = () => {
			for (let i = 0; i < length; i++) {
				let active = actives[i]

				if (active) active.classList.remove('active')

				active = actives[i] = elements[i][counts[i]++]
				active.classList.add('active')

				if (counts[i] === elements[i].length) counts[i] = 0
			}

			setTimeout(activate, 5000)
		}

		activate()
	}
}

</script>

<style src="./assets/scss/application.scss" lang="scss"></style>
<style lang="scss">

@import 'colors';


.section{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-top: 60px;
	padding-bottom: 60px;
	padding-left: 10%;
	text-align: center;
}

.section--dark{
	background-color: $dark-blue;
	color: $white;
	font-weight: 300;
	.browser{
		background-color: #ccc;
		box-shadow: 0 0 20px #000;
		&::before{
			background-color: #aaa;
			box-shadow: 16px 0 #aaa, 32px 0 #aaa;
		}
	}
}

.section--right{
	padding-right: 10%;
	padding-left: 0;
	justify-content: flex-start;
	.screenshot{
		margin-right: 40px;
		margin-left: 0;
		img{ float: right; }
	}
	.browser{
		padding-right: 2px;
		border-top-left-radius: 0;
		border-top-right-radius: 5px;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 2px;
		padding-left: 0;
		&::before{ display: none; }
		&__content::after{ right: 0; left: -5px }
	}
}

.screenshot{
	position: relative;
	max-width: 65%;
	margin-left: 40px;
	img{
		display: block;
		float: left;
	}
}

.section--export img{ width: 700px; }
.section--workflow img{ width: 800px; }
.section--comments img{ width: 950px; }
.section--versions img{
	float: left !important;
	width: 800px;
	opacity: 0;
	transition: opacity .8s ease-in-out;
	&.active{ opacity: 1; }
	&:not(:first-of-type){
		position: absolute;
		top: 0; left: 0;
	}
}
.section--projects img{ width: 1100px; }
.section--create{
	padding-left: 0;
	.browser{
		margin-left: 40px;
		padding-left: 2px;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 2px;
		&::before{ display: block; }
		&__content{
			position: relative;
			&::after{ right: 0; }
		}
	}
	img{
		float: left !important;
		width: 750px;
		opacity: 0;
		transition: opacity .8s ease-in-out;
		&.active{ opacity: 1; }
		&:not(:first-of-type){
			position: absolute;
			top: 0; left: 0;
		}
	}
}

.browser{
	padding-top: 30px;
	padding-bottom: 2px;
	padding-left: 2px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 2px;
	background-color: #eee;
	box-shadow: 0 0 20px rgba(#000, .3);
	&::before{
		content: '';
		position: absolute;
		top: 11px; left: 20px;
		width: 8px; height: 8px;
		border-radius: 50%;
		background-color: #ccc;
		box-shadow: 16px 0 0 #ccc, 32px 0 0 #ccc;
	}
	&__content{
		position: relative;
		overflow: hidden;
		&::after{
			content: '';
			position: absolute;
			top: 0; right: -5px; bottom: 0; left: 0;
			box-shadow: 0 1px 5px rgba(#000, .2) inset;
		}
	}
}

.workflow__images{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	img{
		display: block;
		width: 250px;
		margin-right: 20px;
		box-shadow: 0 0 20px #000;
	}
}

</style>
