<template>
	<section class="description">
		<h2>What is it?</h2>

		<ul>
			<li>Created with the aim to include clients in the design process of their projects and ease the interactions with the designers</li>
			<li>Accessible to anyone using an updated browser connected to the internet</li>
			<li>Enables you to create, modify and share your design prototypes on a single online support</li>
		</ul>
	</section>
</template>

<script>

export default {
	name: 'description'
}

</script>

<style lang="scss">

@import 'colors';


.description{
	padding: 60px 10%;
	font-weight: 300;

	li{ margin-bottom: 15px; }
}

</style>
