<template>
	<section class="installation">
		<div class="installation__content">
			<h2>Let's get started!</h2>

			<h3>Install the application on your own infrastructure</h3>
			Corail is available as a <a href="//www.docker.com" target="__blank">Docker</a> image. You can pull it from this registry:<br>
			<pre>registry.gitlab.com/corail/corail-server-container</pre>
			The image exposes the application on port 8080 that you will need to map. Below is a sample command that you can use:
			<pre><code>docker run -p 80:8080 registry.gitlab.com/corail/corail-server-container</code></pre>

			<a class="docker" href="//www.docker.com" target="__blank" title="Docker">
				<img src="//www.docker.com/sites/all/themes/docker/assets/images/footer_moby_icon.png" alt="Docker">
			</a>
		</div>

		<div class="separator">or</div>

		<div class="section section__dark">
			<div>
				<h3>Try a 2 hours demo</h3>

				<p class="prerequisites">You need to have a <a href="//github.com" target="__blank">GitHub</a> account to continue<br> and authorize the application <a href="//dply.co" target="__blank">dply.co</a> which offers free cloud deployment for 2 hours.</p>

				<div class="list__item">
					<div class="list__number">1</div>
					<div>
						Click on the following button to deploy Corail on a free cloud server.
						<div class="dply">
							<a href="//dply.co/b/TwuKSVRl" target="__blank"><img src="//dply.co/b.svg"/></a>
						</div>
					</div>
				</div>
				<div class="list__item">
					<div class="list__number">2</div>
					Enter whatever server's name you like (e.g: corail).
				</div>
				<div class="list__item">
					<div class="list__number">3</div>
					Choose the nearest location.
				</div>
				<div class="list__item">
					<div class="list__number">4</div>
					Select the 2 hours free service plan
				</div>
				<div class="list__item">
					<div class="list__number">5</div>
					<div>Choose an SSH key (use <i>Default</i> if you're not sure).</div>
				</div>
				<div class="list__item">
					<div class="list__number">6</div>
					Create the server. This should take a few minutes to build.
				</div>
				<div class="list__item">
					<div class="list__number">7</div>
					Copy the IP address of the server and open it in your browser. If the application does not appear right away, do not worry, that means the server is still building. It can take up to 5 minutes. Try to reload the page later.
				</div>
			</div>

			<div class="browser screenshot screenshot">
				<a class="browser__content" href="//dply.co/b/TwuKSVRl" target="__blank" title="Dply on a free server">
					<img style="display: block;" src="~assets/images/screens/dply.png" alt="dply.co">
				</a>
			</div>
		</div>
	</section>
</template>

<script>

export default {
	name: 'installation'
}

</script>

<style lang="scss">

@import 'colors';


.installation{
	position: relative;
	padding-top: 60px;
	padding-bottom: 60px;
	padding-left: 10%;
	background-color: $dark-blue;
	color: $white;
	font-weight: 300;
	.section{
		padding-top: 0;
		padding-left: 0;
	}
	.browser{ max-width: 55%; }
	.screenshot img{ width: 750px; }
}

.installation__content{
	padding-right: 10%;
	text-align: center;
}

.prerequisites{
	font-weight: 400;
	margin-bottom: 50px;
}

.list__number{
	margin-left: 50px;
	margin-right: 30px;
	font-size: 2.4rem;
	font-weight: 500;
}

.list__item{
	display: flex;
	margin-left: auto;
	margin-right: auto;
	max-width: 600px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	text-align: left;
}

.dply{
	display: block;
	margin-top: 5px;
}

.separator{
	position: relative;
	width: 90%;
	margin-top: 60px;
	margin-bottom: 60px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 500;
	z-index: 0;
	&::after{
		content: '';
		position: absolute;
		top: 0; left: 50%;
		width: 50px; height: 50px;
		background-color: $dark-blue;
		transform: translate3d(-50%, 0, 0);
		z-index: -1;
	}
	&::before{
		content: '';
		position: absolute;
		top: 50%; left: 0;
		width: 100%; height: 1px;
		background-color: rgba(#fff, .1);
		z-index: -1;
	}
}

.docker{
	position: absolute;
	top: 100px; right: 10%;
}

</style>
