<template>
	<div class="jumbotron">
		<logo></logo>
		<h1>Corail</h1>

		<h3 class="subtitle">Collaborative design web application</h3>
	</div>
</template>

<script>

import Logo from './Logo'


export default {
	name:		'jumbotron',
	components:	{ logo: Logo }
}

</script>

<style lang="scss">

@import 'colors';

.jumbotron{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 80vh;
	background-color: $gray;
}

.subtitle{
	margin-top: 5px;
	margin-bottom: 40px;
	font-size: 2.4rem;
	font-weight: 300;
}

</style>
